absl-py==0.7.1
aiohttp==3.5.4
airtest==1.0.26
altgraph==0.16.1
Appium-Python-Client==0.40
asn1crypto==0.24.0
astor==0.7.1
async-timeout==3.0.1
attrs==19.1.0
Automat==0.7.0
backcall==0.1.0
beautifulsoup4==4.7.1
bleach==3.1.0
boto==2.49.0
boto3==1.9.130
botocore==1.12.130
bz2file==0.98
certifi==2019.3.9
cffi==1.12.3
chardet==3.0.4
Click==7.0
colorama==0.4.1
comtypes==1.1.7
constantly==15.1.0
crypto==1.4.1
cryptography==2.7
cssselect==1.0.3
cycler==0.10.0
decorator==4.4.0
defusedxml==0.5.0
docutils==0.14
dukpy==0.2.2
entrypoints==0.3
facebook-wda==0.2.2
Flask==1.0.2
Flask-Login==0.4.1
future==0.17.1
gast==0.2.2
gensim==3.7.2
grpcio==1.20.0
hrpc==1.0.8
hyperlink==19.0.0
idna==2.8
incremental==17.5.0
ipykernel==5.1.0
ipython==8.10.0
ipython-genutils==0.2.0
ipywidgets==7.4.2
itchat==1.3.10
itsdangerous==1.1.0
javascripthon==0.10
jedi==0.13.3
jieba==0.39
Jinja2==2.10.1
jmespath==0.9.4
joblib==0.13.2
JPype1==0.6.3
Js2Py==0.63
jsmin==2.2.2
jsonschema==3.0.1
jupyter==1.0.0
jupyter-client==5.2.4
jupyter-console==6.0.0
jupyter-core==4.4.0
jupyter-echarts-pypkg==0.1.2
kiwisolver==1.0.1
lml==0.0.2
lxml==4.3.3
macholib==1.11
macropy3==1.1.0b2
Markdown==3.1
MarkupSafe==1.1.1
matplotlib==3.0.3
mistune==0.8.4
MouseInfo==0.0.4
multidict==4.5.2
Naked==0.1.31
nbconvert==5.4.1
nbformat==4.4.0
nltk==3.4
notebook==5.7.8
numpy==1.16.2
opencv-contrib-python==3.4.2.17
pandas==0.24.2
pandocfilters==1.4.2
parsel==1.5.1
parso==0.4.0
pefile==2019.4.18
pickleshare==0.7.5
Pillow==6.0.0
pocoui==1.0.76
prometheus-client==0.6.0
prompt-toolkit==2.0.9
protobuf==3.7.1
psutil==5.6.1
pyasn1==0.4.5
pyasn1-modules==0.2.5
PyAutoGUI==0.9.47
pycparser==2.19
pycryptodomex==3.8.1
pycurl==7.43.0.2
PyDispatcher==2.0.5
pyecharts==0.5.11
pyecharts-javascripthon==0.0.6
pyecharts-jupyter-installer==0.0.3
PyExecJS==1.5.1
PyGetWindow==0.0.7
Pygments==2.3.1
PyHamcrest==1.9.0
pyhanlp==0.1.45
PyInstaller==3.4
pyjsparser==2.7.1
pymongo==3.7.2
PyMsgBox==1.0.7
PyMySQL==0.9.3
pynput==1.4.2
pyOpenSSL==19.0.0
pyparsing==2.4.0
pyperclip==1.7.0
pypiwin32==223
pypng==0.0.19
PyQRCode==1.2.1
pyquery==1.4.0
PyRect==0.1.4
pyrsistent==0.14.11
PyScreeze==0.1.22
python-dateutil==2.8.0
pyttsx3==2.71
PyTweening==1.0.3
pytz==2019.1
pywin32==224
pywin32-ctypes==0.2.0
pywinauto==0.6.3
pywinpty==0.5.5
PyYAML==5.1
pyzmq==18.0.1
qtconsole==4.4.3
queuelib==1.5.0
redis==3.3.6
requests==2.21.0
s3transfer==0.2.0
scikit-learn==0.21.1
scipy==1.2.1
Scrapy==1.7.2
seaborn==0.9.0
selenium==3.141.0
Send2Trash==1.5.0
service-identity==18.1.0
shellescape==3.4.1
singledispatch==3.4.0.3
six==1.12.0
sklearn==0.0
smart-open==1.8.1
soupsieve==1.9
stanfordcorenlp==3.9.1.1
tblib==1.3.2
tensorboard==1.9.0
tensorflow==1.9.0
termcolor==1.1.0
terminado==0.8.2
tesserocr==2.4.0
testpath==0.4.2
tornado==4.5.3
tqdm==4.31.1
traitlets==4.3.2
Twisted==19.2.1
tzlocal==1.5.1
u-msgpack-python==2.5.1
urllib3==1.24.2
virtualenv==16.7.2
virtualenvwrapper-win==1.2.5
w3lib==1.20.0
wcwidth==0.1.7
webencodings==0.5.1
websocket-client==0.56.0
Werkzeug==0.15.2
widgetsnbextension==3.4.2
wordcloud==1.5.0
WsgiDAV==3.0.0
xlrd==1.2.0
yarl==1.3.0
zope.interface==4.6.0
